html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #f0d8cd;
    background-image: url('https://goingplaces.malaysiaairlines.com/wp-content/uploads/2019/03/32283963_l-1024x680.jpg') no-repeat;
}

body {
    font-size: 1.5rem;
    font-weight: 400;
    color: #212529;
}

:root {
    --price-tag-background: rgba(0, 0, 0, 0.3);
    --price-tag-height: 2rem;
}

h1 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.router {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0d8cd;
}

.inputBox {
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    // padding-top: 160px;
    margin-top: 100px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.input {
    display: block;
    width: 95%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    // color: #495057;
    // background-color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.loginButton {
    color: #fff;
    width: 95%;
    background-color: #fb771a;
    border-color: #fb771a;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.loginButton:hover {
	// background:linear-gradient(to bottom, #f69856 5%, #fb771a 100%);
	// background-color:#f69856;
    background:linear-gradient(to bottom, #d05803 5%, #fb771a 100%);
	background-color:#d05803;
}
.loginButton:active {
	position:relative;
	top:1px;
}

.GAuthContainer {
    margin-bottom: 20px;
}

#signup.loginButton {
    margin-bottom: 20px;
}

.register {
    font-size: 1rem;
    padding-top: 15px;
}

.drinkCard {
    // display: flex;
    // flex-direction: row;
    -webkit-box-flex: 0;
    width: 30%;
    margin-left: 10px;
    // height: 15%;
    margin: 30px;
    // min-width: 200px;
}

@media screen and (min-width: 568px) {
    .drinkCard {
        grid-template-rows: repeat(3, minmax(240px, 1fr));
    }
    .addButton {
        
        min-width: 25%;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
    }
}

#dashboardTop {
    display: flex;
    justify-content: space-between;
}

#dashboardLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
}

// #checkout {
//     border: 2px solid #04AA6D;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     margin-left: 20px;
//     margin-right: 20px;
// }

$cross-fade-border-width: 2px;
$cross-fade-border-color: black;
$sec-cross-fade-border-color: black;
$cross-fade-button-padding: 16px 28px;
$cross-fade-text-color: black;
$sec-cross-fade-text-color: white;
$cross-fade-border-radius: 0px;
$cross-fade-background: white;
$sec-cross-fade-background: #666;
$cross-fade-transition-time: 0.75s;

#checkout, #signOut, #successLink, #loginLink {
  margin-right: 20px;
  display: inline-block;
  padding: $cross-fade-button-padding;
  border: $cross-fade-border-width $cross-fade-border-color solid;
  text-align: center;
  text-decoration: none;
  color: $cross-fade-text-color;
  position: relative;
  overflow: hidden;
  transition: color $cross-fade-transition-time ease-in-out;
  z-index: 1;
  border-radius: $cross-fade-border-radius;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 100%;
    background: rgba($sec-cross-fade-background, 0.5);
    transition: transform $cross-fade-transition-time ease-in-out;
    z-index: -1;
  }
  
  &:before {
    transform: translate3d(100%, 0, 0) skew(20deg);
    transform-origin: 0 0;
  }
  
  &:after {
    transform: translate3d(-100%, 0, 0) skew(20deg);
    transform-origin: 100% 100%;
  }
  
  &:hover {
    color: $sec-cross-fade-text-color;
    &:before,
    &:after {
      transform: translate3d(0, 0, 0) skew(20deg);
    }
  }
}

#signOut {
    background-color: #f0d8cd;
}

.drinkImg {
    width: 70%;
    height: 70%;
    border-radius: 500px;
    // max-width: 300px;
    // min-width: 150px;
}

.drinksDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#price {
    
    margin-top: 20px;
    width: 71%;
    background: var(--price-tag-background);
    color: #fff;

    /* Center the price */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Used to position the triangle */
    position: relative;

    /* Size */
    height: var(--price-tag-height);

    /* Spacing */
    padding: 0.25rem 0.5rem;
}

#price::before {
    content: '';

    border-color: transparent var(--price-tag-background) transparent transparent;
    border-style: solid;
    border-width: calc(var(--price-tag-height) / 2) calc(var(--price-tag-height) / 2)
        calc(var(--price-tag-height) / 2) 0rem;

    /* Position */
    left: 0px;
    position: absolute;
    top: 0px;
    transform: translate(-100%, 0px);
}

/* The dot */
#price::after {
    content: '';

    /* Make it like a cirle */
    background: #fff;
    border-radius: 9999rem;

    /* Position */
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(-0.5rem, -50%);

    /* Size */
    height: 0.5rem;
    width: 0.5rem;
}

.addButton {
    height: 70%;
    width: 70%;
    background: #00a862;
    border-radius: 500px;
    // box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
    color: #fff;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;
    overflow: hidden;
    padding: 18px 2.4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: .2s;
    transition-property: transform, box-shadow, width,height;
    transition-timing-function: ease;
    z-index: 1;
}
.addButton:hover {
	background:linear-gradient(to bottom, #12ad01 5%, #15bc03 100%);
	background-color:#12ad01;
}
.addButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    margin-top: 10px;
    background: #a13127;
    border-radius: 500px;
    // box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
    color: #fff;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;
    overflow: hidden;
    padding: 18px 2.4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: .2s;
    transition-property: transform, box-shadow, width,height;
    transition-timing-function: ease;
    z-index: 1;
}
.deleteButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.deleteButton:active {
	position:relative;
	top:1px;
}