.inputBox {
    background: #fff;
    // padding: 40px;
    margin-top: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

.input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.drinkCard {
    width: 15%;
    height: 15%;
    margin: 30px;
    min-width: 200px;
}

.drinkImg {
    width: 80%;
    height: 80%;
    min-width: 150px;

}

.drinksDisplay {
    display: flex;
    flex-wrap: wrap;
}